<td class="py-2 pr-2">
  <div class="flex items-center">
    <img [src]="menuItem.imageUrl" class="mr-2 h-10 w-10 flex-none rounded-full" alt="" />
    <div class="min-w-0 flex flex-col justify-items-start">
      <a href="#" class="mb-1 text-sm font-semibold text-foreground truncate">{{ menuItem.title }}</a>
      <span class="text-xs font-semibold text-muted-foreground/50 truncate"> {{ truncateDescription(menuItem.description) }}</span>
    </div>
  </div>
</td>
<td class="py-2  text-center">
  <span class="text-sm font-semibold text-muted-foreground">{{ menuItem.price | currency }}</span>
</td>
<td class="py-2  text-center">
  <span class="text-sm font-semibold text-muted-foreground">{{ menuItem.orders.length }}</span>
</td>
<td class="py-2 text-center">
  <div class="inline-block">
    <app-button impact="light" tone="success" shape="rounded" size="medium">{{ menuItem.price * menuItem.orders.length | currency }}</app-button>
  </div>
</td>
<td class="py-2 text-center">
  <div class="inline-block">
    <app-button impact="light" tone="info" shape="rounded" size="medium">{{ menuItem.category }}</app-button>
  </div>
</td>
<td class="py-2 text-center">
  <div class="inline-block">
    <!-- Assuming menuItem.isAvailable is the boolean property -->
    <app-button impact="light"  [tone]="menuItem.default ? 'success' : 'danger'" shape="rounded" size="medium">
      {{ menuItem.default ? 'Yes' : 'No' }}
    </app-button>
  </div>
</td>
<td class="py-2  text-center">
  <div class="flex justify-end gap-4">
    <app-button
      *ngIf="currentUser$ | async as currentUser"
      [ngClass]="{ 'button-disabled': (currentUser.role === 'Moderator' && menuItem.default) }"
      (click)="handleUpdateButtonClick(currentUser, menuItem)"
      impact="light"
      tone="info"
      shape="rounded"
      size="medium">
      <div class="flex items-center justify-center space-x-2">
        <span>{{ currentUser.role === 'Admin' || !menuItem.default ? 'Update' : 'Not allowed' }}</span>
        <svg-icon src="assets/icons/heroicons/outline/update.svg"></svg-icon>
      </div>
    </app-button>

    <app-button
      *ngIf="currentUser$ | async as currentUser"
      [ngClass]="{ 'button-disabled': (currentUser.role === 'Moderator') }"
      (click)="(currentUser.role === 'Admin') ? openDeleteModal() : null"
      impact="light"
      tone="danger"
      shape="rounded"
      size="medium">
      <div class="flex items-center justify-center space-x-2">
        <span>{{ currentUser.role === 'Admin'  ? 'Delete' : 'Not allowed' }}</span>
        <svg-icon src="assets/icons/heroicons/outline/delete.svg"></svg-icon>
      </div>
    </app-button>
</div>

</td>
